{% extends 'base.html.twig' %}

{% block title %}Crear Nuevo Proveedor{% endblock %}

{% block body %}
          <h1 class='text-center'>Editar Proveïdors</h1>
    <div class="container my-5">
    {{form(form)}}
   <a class="btn btn-secondary float-end" href="/proveidors">Sortir</a>
    </div>
{% endblock %}
